$link-color: #4945bc;

html {
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.4rem;
}

* {
  box-sizing: border-box;
  margin: 0;

  &:before,
  &:after {
    box-sizing: border-box;
    margin: 0;
  }
}

a {
  transition: color 0.2s ease;

  &:link,
  &:visited,
  &:active {
    color: $link-color;
    text-decoration: none;
  }

  &:hover {
    color: scale-color($link-color, $lightness: 30%);
  }
}

// https://fonts.googleapis.com/css2?family=Oswald:wght@500&text=TYEngineeringLaboratory&display=swap
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=TK3_WkUHHAIjg75cFRf3bXL8LICs18NvgUJoZAaQniG1D2mYBiAwX-iBHvpK6JvU&skey=653237e53512d0de&v=v31)
    format('woff');
}
